*,
::after,
::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  background-color: #212121;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* ___________________________ */
.audio {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(8px);
}

#background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
}

.header {
  padding: 16px 0;
  color: #f5f5f5;
  background-image: linear-gradient(
    to left bottom,
    rgba(33, 33, 33, 0.25),
    rgba(33, 33, 33, 0.1)
  );
}

h1 {
  text-align: center;
}

.audio__overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: transparent;
}

.audio__player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  max-width: 100%;
  height: 754px;
  width: 100%;
  margin: 0 auto;
  background-image: linear-gradient(
    to left bottom,
    rgba(33, 33, 33, 0.25),
    rgba(33, 33, 33, 0.5)
  );
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

@media screen and (min-width: 420px) {
  .audio__player {
    max-width: 400px;
    height: 678px;
    gap: 0;
  }
}

#container {
  flex: 1 1 auto;
  padding: 32px 0;
}

.audio__pic {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  height: 400px;
  width: 100%;
  border-radius: 12px;
}

.audio__cover {
  width: 95%;
  height: 95%;
  object-fit: cover;
  border-radius: 12px;
  transform: scale(0.8);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

audio {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.audio__container {
  padding: 24px 20px;
  color: #f5f5f5;
}

.audio__singer {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.33;
}

.audio__song {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.33;
}

.audio__content {
  position: relative;
  display: flex;
  flex-direction: column;
}

.audio__track {
  width: 100%;
  height: 8px;
  margin-bottom: 8px;
  background-color: rgba(245, 245, 245, 0.5);
  border-radius: 4px;
}

.audio__track_progress {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 360px;
  width: 0;
  height: 8px;
  background-color: rgba(245, 245, 245, 1);
  border-radius: 4px;
}

.audio__track_active {
  position: absolute;
  top: -2px;
  left: -4px;
  width: 360px;
  height: 8px;
  background-color: transparent;
  border-radius: 4px;
  appearance: none;
  -webkit-appearance: none;
}

.audio__track_active::-webkit-slider-thumb {
  width: 16px;
  height: 16px;
  background-color: #f5f5f5;
  border-radius: 50%;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
}

.audio__time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.33;
}

.audio__controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
}

.audio__control-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 64px;
  height: 64px;
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  overflow: hidden;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.audio__control-wrapper:hover {
  background-color: rgba(245, 245, 245, 0.2);
}

.audio__icon {
  width: 50%;
  height: 50%;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.audio__icon_hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.audio__play {
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.audio__pause {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.audio__icon-forward {
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.audio__control-forward:active .audio__icon-forward {
  transform: scale(0.6);
}

.audio__icon-backward {
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.audio__control-backward:active .audio__icon-backward {
  transform: scale(0.6);
}

#volume {
  display: flex;
  align-items: center;
  gap: 4px;
  width: 100%;
}

.audio__volume-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
}
.audio__volume-container {
  position: relative;
  width: 100%;
}

.audio__volume {
  width: 100%;
  height: 8px;
  background-color: rgba(245, 245, 245, 0.5);
  border-radius: 4px;
}

.audio__volume_level {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 280px;
  width: 0;
  height: 8px;
  background-color: rgba(245, 245, 245, 1);
  border-radius: 4px;
}

.audio__track_volume {
  position: absolute;
  top: -2px;
  left: -4px;
  width: 280px;
  height: 8px;
  background-color: transparent;
  border-radius: 4px;
  appearance: none;
  -webkit-appearance: none;
}

.audio__track_volume::-webkit-slider-thumb {
  width: 16px;
  height: 16px;
  background-color: #f5f5f5;
  border-radius: 50%;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
}

.footer {
  padding: 16px 0;
  color: #f5f5f5;
  background-image: linear-gradient(
    to left bottom,
    rgba(33, 33, 33, 0.25),
    rgba(33, 33, 33, 0.5)
  );
}

.footer__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-bottom: 16px;
}

.footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 144px;
  height: 62px;
  padding: 16px;
  background-color: #fafafa;
  border-radius: 6px;
}

.footer__rights {
  font-weight: 400;
  line-height: 1.33;
  text-align: center;
}
